.header__presentacion__inicial{
    font-family: var(--fuente-principal);
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;

    color: var(--color-letras-principal);
}

@media (min-width: 1080px) {
    .header__presentacion__inicial{
        text-align: left;
    }
}