.header__mi__foto{
    background-image: url(../img/foto-redonda.png);
    background-image: no-repeat;
    background-size: cover;
    border-radius: 100%;

    width: 12rem;
    height: 12rem;
}

@media (min-width: 1080px) {
    .header__mi__foto{
        width: 14rem;
        height: 14rem;
    }     
}