:root{
    --fuente-principal: "Raleway", sans-serif;
    --color-letras-principal: #464646;
}

html{
    margin: .6rem;
    

    font-family: var(--fuente-principal);
}

@media (min-width: 1080px) {
    html{
        margin: 1rem 2rem 0 2rem;
    }
}

h3{
    color: var(--color-letras-principal);
}

li{
    list-style: none;
}
main{
    margin-top: 1rem;
}